*{
	font-family: sans-serif;
	font-size: 1rem;
}

h1{
	font-size: 5rem;
}
h2{
	font-size: 4rem;
}
h3{
	font-size: 2.5rem;
}
h4{
	font-size: 2rem;
}

li{
	list-style: none;
}

input{
	padding:1.5rem;
	width: 480px;
	height: 3px;
	border-radius: 28px;
	text-align: left;
}
label{
	text-align:right;
	margin-right:10px;
	background: #565656;
}
.label{
	color:white;
	background-color: inherit;
}
button{
	height:4rem;
	border-radius: 60px;
	padding:25px;
	width: 100%;
}

/* ID and Classes */

#preview-image{
	background-image: url(/images/blankphoto.png);
}

#main-title, #title-follow{
	padding:10px;
	margin:auto;
	color:white;
	background: #6d6b69
}


#user-ui{
	/* Temporary  */
	background-color: #d6cdc6;
}

.image{
	height:420px;
	width:420px;
	text-align: center;
	background-repeat: no-repeat;
	background-size:420px 420px;
	position:relative;
	border:black solid 2px;
	overflow: auto;
}

.top-text, .bottom-text{
	position:absolute;
	color: white;
	width:100%;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

.top-text{
	top:0%;
	right:50%;
	text-align:center;
	transform:translate(50%,0%)
}

.bottom-text{
	bottom:10%;
	right:50%;
	text-align:center;
	transform:translate(50%,50%)
}

.grid-container__form{
	display: grid;
	grid-template-columns: repeat(3,240px);
	/* temp */
	border-radius: 25px;
	background-color: #565656;
	border:1px white solid;
	align-items: center;
	padding:26px;
	width:60%;	
	overflow: auto;
}
.grid{
	display:grid;
	grid-template-columns: repeat(4,420px);
	column-gap: 20px;
	margin:25px;
	row-gap: 20px;
}

.flexbox-container{
	display:flex;
	padding:25px;
	overflow: auto;
}

.flexbox-item{
	margin:auto;
}

.center{
	text-align: center;
}

.meme-image:hover{
	opacity: 60%;
}
.background-overlay,.background-overlay:hover{
	height:420px;
	width:420px;
	
}
.background-overlay:hover{
	background-image: url('/images/multiplication-button-or-x-icon-vector-10273548.jpg');
	background-size:cover;
	
	opacity:60%;
}

#submit-button{
	background: rgb(39, 39, 151);
	letter-spacing: 3px;
	font-weight: bold;
	color:white;
}

#clear-button{
	background-color: red;
	letter-spacing: 3px;
	font-weight: bold;
	color: white;
}

#submit-button:hover{
	border-color: white;
	border:3px solid;
	background-color: rgb(98, 98, 221);
}

#clear-button:hover{
	border-color: white;
	border:3px solid;
	background-color: rgb(98, 98, 221);
}